

body{
    margin: 0;
    font-family: Roboto Condensed, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    color: #99ccff;
}

#wrapper{

    width: 100%;
    max-width: 1600px;

}

#main-block{
    height: 100%;
    width: 100%;
    background-color: #333333;
}

#menu {
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 80px;
    background-color: #333333;
    z-index: 100;
    color: white;

}
.goto{
    display: none;
}
#aboutCounty{
    position: relative;
    top: 80px;
    width: 100%;
    height: 800px;
    background-image: url("foto/images1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;




}
#advantages{
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("foto/tictac-fon.jpg");
    background-size: cover;
    background-position: 70%;
    margin-top: 85px;

}

#beaches{
    position: relative;
    width: 100%;
    height: 1670px;
    background-color: #333333;
}
#indTour{
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("foto/personal_tur_fon.jpg");




}

#reviews{
    position: relative;
    width: 100%;
    height: 1180px;
    background-color: #333333;
}

#contacts{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #333333;
}

/* -------------menu-------------------*/

.main-menu{
    float: left;
    height: 100%;
    width: 69%;

}

.contacts-menu{
    float: right;
    height: 100%;
    width: 30%;
    background-color: gray;
}


.down-m-menu{
    margin-top: 15px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.down-m-menu ul li {

    cursor: pointer;
    font-size: 18px;
    display: inline;
    padding-left: 18px;
}
.down-m-menu ul li:hover{
    color: #99ccff;

}
/* -------------aboutCounty-------------------*/
.county-block1{
    position: absolute;
    opacity: 0;
    top: 20px;
    display: inline;


}
.country-title{
    margin: auto 0;
    text-align: center;
    color: black;
    font-size: 22px;
    font-family: Roboto Condensed, sans-serif;
    background-image: url("foto/opac50fon.png");
}
.country-inform{
    position: relative;
    float: left;
    height: 500px;
    width: 30%;
    font-size: 16px;
    font-family: Roboto Condensed, sans-serif;
    margin-left: 20px;
    overflow: hidden;
    background-color: white;


}
.county-block1 h1 {
    padding: 10px 10px;
}
.coutry-foto {
    height: 250px;
    width: 100%;
    margin: 0 auto;
}

.coutry-foto img{
    height: 100%;
    width: 100%;
}
.country-inform p {
    padding-left: 4px;
}

/* -------------Timer-------------------*/
.timelost{

    margin-left: 16%;
    padding-top: 10px ;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 600;
    font-family: Roboto Condensed, sans-serif;
    width: 68%;

}
.timelost-1{
    height: 100%;
    width: 100%;

    border: solid white 2px;
    border-radius: 10px;
    vertical-align: middle;
    background-color: #1a1a1a;

}



.clickAction{
    padding-top: 10px;
    margin: auto 0;
    text-align: center;
    color: black;

}
.clickAction-b{
    height: 60px;
    width: 600px;
    font-size: 27px;
    font-family: Roboto Condensed, sans-serif;
    color: white;
    border-radius: 5px;
    background-color: #1a1a1a;
    cursor: pointer;
}
.clickAction-b:hover{
    background-color: #333333;
    padding-top: 8px;
}

/* ------------- Beaches-------------------*/
.beach{
    margin-top: 5px;
    width: 98%;
    margin-left: 1%;
    height: 410px;
    font-family: Roboto Condensed, sans-serif;
    overflow: hidden;
}
.b-kendwa{
    background-image: url("foto/kendwa.jpg");
    background-position: 100%;
    background-size: cover;


}
.hotel-kendwa{
    float: left;
    height: 100%;
    width: 40%;
    background-image: url("foto/opac50fon.png");
    background-position: 100%;
    font-size: 15px;
    text-align: center;
}
.beach h2{
    padding-top: 5px;
}
.beach p {
    padding: 5px;
}
.stars {
    display: inline;
}
.hot-b{
    height: 40px;
    width: 280px;
    font-size: 20px;
    font-weight: 600;
    background-color:#ffff33;
    cursor: pointer;
    border: solid 2px black;
    border-radius: 9px;
}
.price h2{
    padding-top: 0px;
}

.hot-b:hover{
    background-color: #b3b3ff;
}
.b-kendwa-1{
    float: left;
    width: 60%;
    display: block;
    height: 100px;
    text-align: center;
    background-image: url("foto/opac75fon.png");
    background-position: 100%;
    font-size: 19px;
    color: white;
}

.b-nungwi{
    background-image: url("foto/nungwi.jpg");
    background-position: 100%;
    background-size: cover;

}
.hotel-nungwi{
    float: right;
    height: 100%;
    width: 40%;
    background-image: url("foto/opac50fon.png");
    background-position: 100%;
    font-size: 15px;
    text-align: center;
}
.b-nungwi-1{
    float: right;
    width: 60%;
    display: block;
    height: 100px;
    text-align: center;
    background-image: url("foto/opac75fon.png");
    background-position: 100%;
    font-size: 19px;
    color: white;
}

.b-uroa{
    background-image: url("foto/uroa.jpg");
    background-position: 100%;
    background-size: cover;
}
.hotel-uroa{
    float: left;
    height: 100%;
    width: 40%;
    background-image: url("foto/opac50fon.png");
    background-position: 100%;
    font-size: 15px;
    text-align: center;
}
.b-bubu{
    background-image: url("foto/bububu.jpg");
    background-position: 100%;
    background-size: cover;
}
.hotel-bubu{
    float: right;
    height: 100%;
    width: 40%;
    background-image: url("foto/opac50fon.png");
    background-position: 100%;
    font-size: 15px;
    text-align: center;
}
.b-bubu-1{
    float: left;
    width: 60%;
    display: block;
    height: 100px;
    text-align: center;
    background-image: url("foto/opac75fon.png");
    background-position: 100%;
    font-size: 19px;
    font-weight: 600;
    color: white;
}

/* -------------  IndTour -------------------*/
.tur-why{
    display: block;
    float: left;
    width: 480px;
    height: 300px;
    margin: 15px 20px 10px 10px;
    font-family: garamond, gabriola;

}
.tur-w-1 h2{
    margin: 0;
    width: 400px;
    font-size: 40px;
    font-weight: 500;
    padding-left: 30px;
    background-color: white;


}
.tyr-w-2 ul{
    margin: 0;
}
.tyr-w-2 li{
    list-style-type: none;
    height: 44px;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: solid 2px black;
    border-left: solid 2px black;

}

.tyr-w-2 li p{
    margin-top: 0;
    padding-left: 20px;
    padding-top: 2px;



}
.tur-form{
    display: block;
    float: left;
    width: 320px;
    height: 320px;
    margin: 15px 0px 0px 20px;
    background-image: url("foto/opac50fon.png") ;
    border: solid 3px white;
    border-radius: 10px;
}
.tur-form input {
    margin-top: 20px;
    margin-left: 15px;
    width: 250px;
    height: 30px;
    font-family: garamond, gabriola;
    font-size: 20px;

}
.tur-form h3{
    margin: 20px 0px 0px 10px;
    font-family: garamond, gabriola;
    font-size: 30px;
    text-align: center;
}
/* -------------reviews-------------------*/

.reviews-main{
    width: 96%;
    margin-left: 2%;
    margin-top: 1%;
    background-image: url("foto/bottom_fon.jpg");
    height: 98%;
    font-family: garamond, gabriola;

}
.rev-t-1{
    display: block;
    float: left;
    height: 380px;
    width: 93%;

}

.rev-t-2{
    display: none;
    position: absolute;
    height: 180px;
    width: 33%;
    float: right;



}

.rev1-img{
    float: left;
    height: 370px;
    width: 330px;


}
.rev2-img{
    margin-right: 5px;
    float: right;
    height: 320px;
    width: 300px;


}

.rev1-img img{
    height: 100%;
    width: 100%;
}

.rev2-img img{
    height: 100%;
    width: 100%;
}
.rev1-text{
    margin: 0;
    position: relative;
    float: right;
    height: 280px;
    width: 440px;
    background-image: url("foto/opac50fon.png");


}
.rev1-text p{
    font-size: 20px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 4px;
}
.rev1-text h3{
    padding-left: 12px;
    margin: 6px 4px 4px 4px;
}

.rev2-text{
    margin: 0;
    position: relative;
    float: left;
    height: 180px;
    width: 290px;
    background-image: url("foto/opac50fon.png");

}

.rev2-text p{
    margin-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;


}

.rev2-text h3{
    margin: 6px 4px 4px 4px;
    padding-left: 12px;
    padding-right: 12px;
}

/* -------------contacts-------------------*/

.cont-block{
    position: absolute;
    margin: 30px 20px 30px 20px;
    height: 300px;
    width: 400px;
    background-color: #cccccc;
    border: solid 1px white;

}
.phone{
    margin-top: 10px;
    margin-left: 15px;
    width: 100%;
    float: left;
}
.fa-mobile{
    height: 100px;
    float: left;
    margin-top: 25px;
}
.phone p{
    float: left;
    margin-left: 50px;
    font-size: 20px;
    margin-top: 5px;
}

.cont-map{
    position: absolute;
    margin: 30px 20px 30px 450px;
    height: 300px;
    width: 400px;

}
.cont-map iframe{
    width: 100%;
    height: 100%;
}
.adress{
    margin-top: 10px;
    margin-left: 15px;
    width: 100%;
    float: left;
}
.fa-home{
    float: left;

}
.adress p{
    float: left;
    margin-left: 17px;
    font-size: 20px;
    margin-top: 13px;
}
.mail{
    margin-top: 10px;
    margin-left: 15px;
    width: 100%;
    float: left;
}
.fa-envelope-o{
    float: left;
}
.mail p{
    float: left;
    margin-left: 17px;
    font-size: 20px;
    margin-top: 13px;

}
/* -------------background-------------------*/
.background-form{
    position: fixed;
    height: 100%;
    width: 100%;
    margin-top: 80px;
    background-image: url("foto/opac50fon.png");
    z-index: 1000;
    display: none;
    transition: all 1000ms linear;


}

.main-form{

    height: 400px;
    width: 500px;
    margin: 0 auto;
}
.tur-form2{
    display: block;

    width: 400px;
    height: 320px;
    margin: 70px auto;
    background-color: #333333;
    border: solid 3px white;
    border-radius: 10px;

}
.tur-form2 input {
    margin-top: 20px;
    margin-left: 30px;
    width: 340px;
    height: 40px;
    font-family: garamond, gabriola;
    font-size: 25px;

}
.tur-form2 h3{
    color: white;
    margin: 20px 0px 0px 10px;
    font-family: garamond, gabriola;
    font-size: 32px;
    text-align: center;
}
.close{
    margin-top: -30px;
    margin-right: 15px;
    float: right;
}
.fa-times:hover{
    cursor: pointer;
}
