

body{
    margin: 0;
}

#wrapper{

   max-width: 1400px;
}

#main-block{
    height: 100%;
    width: 100%;
    background-color: #e6ffff;
}

.menu {
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 110px;
    background-color: #000099;
    z-index: 100;
    color: white;

}
.aboutCounty{
    position: relative;
    top: 110px;
    width: 100%;
    height: 700px;
    background-image: url("zanz0.jpg");
    background-size: auto 700px ;
    background-repeat: no-repeat;


}
.advantages{
    position: relative;
    width: 100%;
    height: 300px;
    background-color:#b3cce6;

}

.beaches{
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #cccc00;
}
.indTour{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: black;
}

.reviews{
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #cc66ff;
}

.contacts{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #ffb84d;
}

/* -------------menu-------------------*/

.main-menu{
    float: left;
    height: 100%;
    width: 69%;

}

.contacts-menu{
    float: right;
    height: 100%;
    width: 30%;
    background-color: gray;
}
.logo-menu{
    height: 60%;

}
.down-m-menu{
    height: 40%;
    width: 100%;
    overflow: hidden;
}
.down-m-menu ul li {

    font-size: 20px;
    display: inline;
    padding-left: 18px;
}
/* -------------aboutCounty-------------------*/
.county-block1{
    position: absolute;
    height: 500px;
    width: 400px;
 font-size: 22px;
    font-family: Roboto Condensed, sans-serif;
   left: 20px;
    top: 20px;
    background-image: url('fon.png');
 border-radius: 30px;

}
.county-block1 p {
    padding: 10px 10px;
}